{% load static i18n %}
{% for x in restaurants %}
<footer class="footer_widgets">
        <div class="container">
            <div class="footer_bottom">
                <div class="copyright_right text-center">
                    <p> © 2023 <a href="index.html"> CK GURME.</a> Made with <i class="ion-heart"></i> by <a
                            href="https://www.centralwebagency.com/">Central Web Agency</a></p>
                </div>
            </div>
        </div>
    </footer>
{% endfor %}